
.carousel {
   width: 90%;
   max-width: 90%;
   height: 90vh;
   position: relative;  
   margin: 0 auto; 
}

.carousel__imageandcontrols {
   display: flex;
   justify-content: space-between;
   width: 100%;
   height: 100%;
}

.carousel__btn {
   border-style: none;
   background-color: #FF00C7;
   opacity: 0.3;
   padding: 0.5rem;
}

.carousel__btn:hover {
   opacity: 0.5;
   cursor: pointer;
   transition: all 300ms;
}

.right img {
   rotate: 180deg;
}

.carousel__imgcontainer {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
}

.carousel__imgcontainer img {
   margin-top: 1rem;
   max-width: 900px;
   max-height: 600px;
}

.carousel__imgcontainer p {
   margin: 0.5rem auto;
   font-size: 1rem;
   color:#333;
}

.carousel__imgcontainer a {
   margin: 0.5rem auto;
   font-size: 1rem;
   color:black;
}

.carousel__imgcontainer a:hover {
   text-decoration: underline;
   font-size: 1.1rem;
   transition: all 500ms;
   color:rgb(246, 145, 162);
}


.imageslist {
   position: absolute;
   width: 100%;
   height: 110px; 
   bottom: 0;
   left: 0;
   overflow:hidden;
   scroll-behavior: smooth;
   -webkit-overflow-scrolling: touch;
   z-index: 20;
   display: flex;
   justify-content: space-between;
   gap:0.6rem;

}


.imageslist__img {
   width: 120px;
   flex-shrink: 0;
   overflow-x: auto;
}

.imageslist__img:hover {
   cursor: pointer;
   transition: all 800ms;
   border:5px solid rgb(246, 145, 162)

}

.imageslist__img--active {
   width: 120px;
   flex-shrink: 0;
   overflow-x: auto;
   border:6px solid #FF00C7;
}
